<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHospitalService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6446/HospitalService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHospitalService" contract="HospitalWebService.IHospitalService" name="BasicHttpBinding_IHospitalService" />
    </client>
  </system.serviceModel>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>