<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_HospitalWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4116/HospitalWebServiceImpl.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HospitalWebService"
                contract="HospitalServiceReference.HospitalWebService" name="BasicHttpBinding_HospitalWebService" />
        </client>
    </system.serviceModel>
</configuration>